<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <title>login</title>
</head>

<body>
    <div id="loginPage">
        <div class="judulFrom text-center pt-4">
            <h2>Silahkan Login Untuk Melanjutkan!!!</h2>
        </div>
        <div class="form-login text-center pt-5">
            <div><input id="username" type="text" name="username" placeholder="masukan username..." class="mb-3"></div>
            <div><input id="password" type="password" name="password" placeholder="masukan password..." class="mb-3"></div>
            <button onclick="login()" type="button" class="btn-warning"> masuk </button>
        </div>
    </div>

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="login.js"></script>
</body>

</html>