<div class="p-3 mt-3 border border-primary">
    <form action="/login" method="POST" id="login" class="pt-3 row g-3">
      <div class="col-md-6">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" value="" placeholder="Masukan Username Anda">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" value="" placeholder="Masukan password Anda">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary login">Login</button>
      </div>
    </form>
  </div>