<div class="pt-3">
    <form method="POST" id="detail_profile" class="pt-3 row g-3">
      <div class="col-md-6">
        <label for="username" class="form-label">Username</label>
        <input type="hidden" name="id" value="<%= userdata._id%>">
        <input type="hidden" name="user_id" value="<%= userdata.user_id%>">
        <input type="text" class="form-control" name="username" value="<%= userdata.username%>">
      </div>
      <div class="col-md-6">
        <label for="FullName" class="form-label">Nama Lengkap</label>
        <input type="FullName" class="form-control" name="Fullname" value="<%=userdata.FullName%>">
      </div>
      <div class="col-md-6">
        <label for="FirstName" class="form-label">Nama Depan Anda</label>
        <input type="text" class="form-control" name="FirstName" value="<%= userdata.FirstName %>">
      </div>
      <div class="col-md-6">
        <label for="LastName" class="form-label">Nama Belakang Anda</label>
        <input type="text" class="form-control" name="LastName" value="<%= userdata.LastName %> ">
      </div>
      <div class="col-md-6">
        <label for="umur" class="form-label">Umur Anda</label>
        <input type="text" class="form-control" name="umur" value="<%=userdata.umur%>">
      </div>
      <div class="col-md-6">
        <label for="tglLahir" class="form-label">tanggal lahir Anda</label>
        <input type="text" class="form-control" name="tglLahir" value="<%= userdata.tglLahir  %> ">
      </div>
      <div class="col-md-6">
        <label for="gender" class="form-label">Jenis kelamin Anda</label>
        <input type="text" class="form-control" name="gender" value="<%= userdata.gender %> ">
      </div>
      <div class="col-md-6">
        <label for="address" class="form-label">Alamat Anda</label>
        <input type="text" class="form-control" name="address" value="<%=userdata.address %> ">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Simpan</button>
      </div>
    </form>
  </div>