<% for (let i = 0; i < userdata.length; i++) { %>
<tr>
    <td> <%= i + 1 %></td>
    <td><%= userdata[i].username %> </td>
    <td><%= userdata[i].password %> </td>
    <td><%= userdata[i].email %> </td>
    <td>
        <!-- details -->
        <a href="/detail-profile?username=<%= userdata[i].username  %>" class="btn border-shadow detail">
            <span class="text-gradient">
                <i class="fa-solid fa-info " style="color: blue;"></i>   detail
            </span> 
       </a>
        <!-- update -->
       <a href="/update-user?id=<%= userdata[i]._id  %>" class="btn border-shadow update">
            <span class="text-gradient">
                <i class="fa-solid fa-wrench" style="color: blue;"></i>  update
            </span> 
       </a>
       <!-- delete -->
       <a class="btn border-shadow delete" dataId="<%= userdata[i]._id %>" >
            <span class="text-gradient">
                <i class="fa-solid fa-circle-trash" style="color: blue;" ></i> delete
            </span>
       </a> 
    </td>
</tr>
<% } %> 