<!-- include header -->
<%- include ('include/_header')  %>
<!-- main page tambah pengguna -->
<main id="site-main">
    <div class="container">
        <div class="form-title text-center">
            <h2> Login...</h2>
            <span>silahkan login Dulu Untuk Masuk Ke Dashboard</span>
        </div>
        <!-- insert form tambah -->
        <%- include ('include/_form_login') %> 
    </div>
</main>
<!-- include footer -->
<%- include ('include/_footer') %> 