<!-- include head -->
<%- include('include/_header') %>

<main id="site-main">
    <div class="container">
        <div class="text-center justify-between"><h2>SELAMAT DATANG </h2></div>
        <div class="box-nav d-flex justify-between pb-3">
            <a class="btn btn-outline-primary" href="/tambah-pengguna" role="button"><i class="fa-solid fa-user-plus"></i> Tambah Pengguna</a>
        </div>
        <form action="/" method="POST">
            <table class="pt-3 table table-hover table-bordered ">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- panggil read -->
               <%- include('include/_read')  %> 
                </tbody>
            </table>
        </form>
    </div>
</main>

<!-- footer -->
<%- include('include/_footer')  %> 