 <!-- tambah pengguna -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Nama</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="masukan Nama anda">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="email@gmail.com">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Jenis Kelamin</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Pria" >
                <label for="radio-2" class="radio-label">Pria</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Wanita" >
                <label for="radio-3" class="radio-label">Wanita</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Aktif" >
                <label for="radio-4" class="radio-label">Aktif</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Pasif" >
                <label for="radio-5" class="radio-label">Pasif</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Simpan</button>
        </div>
    </div>
</form>