<!-- include header -->
<%- include('include/_header') %>

  <!-- Main homepage -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> Semua Pengguna</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Tambah Pengguna</h2>
            <span class="text-light">Silahkan Isi Setiap Kolom Yang Ada</span>
        </div>

        <!-- form pengguna -->
        <%- include('include/_form') %>       
    </div>
</main>

<!-- include footer -->
<%- include('include/_footer') %>