<!-- include header -->
    <%- include('include/_header') %>

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient"> Tambah Pengguna</span>
                </a>
            </div>

            <!-- form pengguna -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nama</th>
                            <th>@Email</th>
                            <th>Jenis Kelamin</th>
                            <th>Status</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- panggil fungsi -->
                        <%- include('include/_show') %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>

<!-- include footer -->
<%- include('include/_footer') %>