<!-- include header -->
<%- include('include/_header') %>

    <!-- Main update page -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update Pengguna</h2>
                <span class="text-light">Silakan Isi Setiap Kolom Yang Ada </span>
            </div>

            <!-- add user form -->
            <form method="POST" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Nama</label>
                        <input type="hidden" name="id" value="<%= user._id %>">
                        <input type="text" name="name" value="<%= user.name %>" placeholder="masukan nama anda">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Email</label>
                        <input type="text" name="email" value="<%= user.email%>" placeholder="email@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="gender" class="text-light">Jenis Kelamin</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-2" name="gender" value="Pria" <%=user.gender=='Pria'
                                ? 'checked' : '' %>>
                            <label for="radio-2" class="radio-label">Pria</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="gender" value="Wanita" <%=user.gender=='Wanita'
                                ? 'checked' : '' %> >
                            <label for="radio-3" class="radio-label">Wanita</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="gender" class="text-light">Status</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-4" name="status" value="Aktif" <%=user.status=='Aktif'
                                ? 'checked' : '' %> >
                            <label for="radio-4" class="radio-label">Aktif</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-5" name="status" value="Pasif" <%=user.status=='Pasif'
                                ? 'checked' : '' %> >
                            <label for="radio-5" class="radio-label">Pasif</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Simpan</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!-- include footer -->
    <%- include('include/_footer') %>