<% for (let i = 0; i < userdata.length; i++) { %>
    <tr>
        <td> <%= i + 1 %></td>
        <td><%= userdata[i].username %> </td>
        <td><%= userdata[i].password %> </td>
        <td><%= userdata[i].email %> </td>
        <td>
            <!-- details -->
            
            <!-- update -->
           <a href="/update-user?id=<%= userdata[i]._id  %>" class="btn border-shadow update">
                <span class="text-gradient">
                    <!-- masukan ikon update --> update
                </span> 
           </a>
           <!-- delete -->
           <a class="btn border-shadow delete" dataId="<%= userdata[i]._id %>" >
                <span class="text-gradient">
                    <!-- masukan ikon delete --> delete
                </span>
           </a> 
        </td>
    </tr>
    <% } %> 