<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="main/style.css">
    <title>login</title>
</head>

<body>
    <div id="loginPage">
        <div class="judulFrom text-center pt-4">
            <h2>Silahkan Login Untuk Melanjutkan!!!</h2>
        </div>
        <main id="site-main">
            <div class="p-3 mt-3">
                <form action="/login" method="POST" id="login" class="pt-3 row g-3">
                    <div class="col-md-6">
                        <label for="username" class="form-label">Username</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" class="form-control" name="username" value=""
                            placeholder="Masukan Username Anda">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" value=""
                            placeholder="Masukan password Anda">
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary login">Simpan</button>
                    </div>
                </form>
            </div>
        </main>
        <!-- include footer -->
        <%- include ('include/_footer') %>
    </div>
</body>

</html>